* {
  font-family: "American Typewriter";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  align-content: center;
  height: 75px;
  background-color: darkgray;
}

.rotor-container {
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 750px;
}

app-rotor {
  flex: 1;
  flex-grow: 1;
  margin: 5px;
  height: 30px;
  min-width: 365px;
}

div.btn-group {
  max-width: 300px;
  margin-bottom: 20px;
}

.user-control-container {
  display: flex;
  align-items: center;
}

input {
  margin: 10px;
}

div.debug {
  display: block;
}

button.run {
  height: 30px;
  padding-top: 3px;
}

.describe {
  text-align: center;
  margin-top: 30px;
  max-width: 800px;
}
